<div class="col-lg-4">
    <ul class="list-group">
        <li class="list-group-item"><strong>
            <span id="altitude" class="pull-right"></span>
            Altitude (ft MSL):
        </strong></li>
        <li class="list-group-item"><strong>
            <span id="ias" class="pull-right"></span>
            IAS (kts):
        </strong></li>
        <li class="list-group-item"><strong>
            <span id="vsi" class="pull-right"></span>
                VertSpeed (fps):
        </strong></li>
        <li class="list-group-item"><strong>
            <span id="oiltemp" class="pull-right"></span>
            Oil Temp:
        </strong></li>
    </ul>
</div>
