<div class="row">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>
                    <button class="btn btn-default" (click)="onBack()"><span class="glyphicon glyphicon-arrow-left"></span></button>
                    Flight Information
                </h1>
            </div>
            <div class="panel-body">
                <h3>Important flight information goes here...</h3>
                <button class="btn btn-success pull-right bottom-align-button" (click)="startFlight()">
                    Start Flight
                    <span class="glyphicon glyphicon-plane"></span>
                </button>
            </div>
        </div>
    </div>
</div>