<div class="row" [class.marginActive]="!hideMargin()">
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Flights</h1></div>
        <div class="panel-body">
            <ul class="list-group">
                <a role="button" (click)="onSelect(i)" *ngFor="let flight of flights; let i = index">
                    <li class="list-group-item" hover>
                        {{ flight.airfield }} <span id="tab"></span> <strong>{{ flight.date }}</strong>
                        <a class="badge">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </a>
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>