a.badge:hover {
    color: #55E073;
}

.panel.panel-default {
    background-color: transparent;
    border-color: transparent;
}

.panel-body {
    background-color: #E9E9E9;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.panel-head {
    background-color: #40C85C;
}

.row {
    margin-right: 10px;
}

.row.marginActive {
    margin-top: 40px;
}

#tab {
    display: inline-block;
    width: 12px;
}