/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/cesium/Build/Cesium/Widgets/widgets.css');
#cesiumContainer {
    width: 100%;
    height: 750px;
    min-height: 750px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a6a6a6;
}

#cesiumContainer.col-sm-12 {
    width: 100%;
    height: 675px;
    min-height: 675px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a6a6a6;
}

body#override {
  background-color: #a6a6a6;
}

.btn.btn-success {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

.help-block {
  color: #f2f2f2;
}

.highlight {
    background-color: #55E073;
    color: #333;
    text-decoration: none;
}

input.ng-invalid.ng-touched {
  border: 2px solid #ff6666;
}

label {
  color: #f2f2f2;
  font-size: 16px;
}

.panel-body {
    min-height: 250px;
}

.activeRow {
  background-color: #55E073;
}

.tab {
  display: inline-block;
  width: 13px;
}