/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/cesium/Build/Cesium/Widgets/widgets.css');
html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a6a6a6;
}

body#override {
  background-color: #a6a6a6;
}

.btn.btn-success {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

.help-block {
  color: #f2f2f2;
}

input.ng-invalid.ng-touched {
  border: 2px solid #ff6666;
}

label {
  color: #f2f2f2;
  font-size: 16px;
}

.panel-body {
    min-height: 250px;
}

.activeRow {
  background-color: #55E073;
}